<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app.saathiii">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:largeScreens="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true"
        />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".VerifyPhone"
            android:label="Saathi"/>
        <activity android:name=".Create_Pass"
            android:label="Saathi"/>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".Activity_Signin" />
        <activity android:name=".AuthenticationActivity"
            android:label="Saathi"/>
        <activity android:name=".ResetPasswordActivity"
            android:label="@string/app_name"/>
        <activity android:name=".ProfileActivity"
            android:label="Setting"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activity_AllRoute"
            android:label="All Rides" />
        <activity android:name=".Activity_AllReqdRoute"
            android:label="All Requested Rides"/>
        <activity android:name=".Activity_ReqRoute"
            android:label="Request Ride"/>
        <activity android:name=".Activity_AddRoute"
            android:label="Add Ride"/>
        <activity android:name=".Activity_PersonalDetails"
            android:label="Update Profile"/>
        <activity android:name=".Activity_AboutSaathi"
            android:label="About Saathi"/>
        <activity android:name=".Activity_AboutUs"
            android:label="About Us"/>
        <activity android:name=".Activity_Help"
            android:label="Contact Us" />
        <activity android:name=".Activity_Feedback"
            android:label="Feedback"/>
        <activity android:name=".UpdateProfile"
            android:label="Your Profile"/>
    </application>

</manifest>